*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;

}
.ver00{width:200;height:100;}
.ver1 {width:50; height:20;}
.vemg1{}
